#name_rule {
	background-color: #E8F8BB;
    border: 1px solid #DAED9D;
    border-radius: 5px 5px 5px 5px;
    color: #7CA60A;
    font-size: 100%;
    height: 50px;
    line-height: 30px;
    margin-bottom: -5px;
    margin-left: 5px;
    padding-left: 5px;
    z-index: 1;
}

#col_conditions {
	float: left;
}

div.box_condition {
	width: 620px;
	height: 300px;
	background-color: #FFFFFF;
    border: 1px solid #DAED9D;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 25px;
}

#ens_condition {
	position: relative;
	height: 300px;
	width: 100%;
	float: left;
	z-index: 10;
}

.box_condition ul.liste_capteurs {
	margin: 15px;
	padding: 0;
	float: left;
}

li.capteur {
	width: 120px;
	height: 50px;
	list-style-type: none;
	background-color: #E8F8BB;
	border: 1px solid #DAED9D;
	border-radius: 3px;
	padding: 5px 0 5px 0;
	overflow: hidden;
	z-index: 100;
}

li.capteur:hover {
	opacity: 0.8;
}

li.capteur .img_capteur {
	float: left;
	width: 45px;
	height: 45px;
	margin-right: -10px;
}

.box_action li.capteur .img_capteur {
	width: 50px;
	height: 50px;
	margin-right: -1px;
}

li.capteur .nom_capteur {
	float: left;
	line-height: 50px;
	font-size: 13px;
}

.sel_capteur {
	position: relative;
	top: 120px;
	left: 10px;
	float: left;
	width: 122px;
	height: 62px;
	border: 2px solid #57AFE6;
	border-radius: 3px;
}

.operation {
	position: relative;
	width: 130px;
	height: 80px;
	top: 100px;
	left: 50px;
	float: left;
}

ul.liste_operation {
	margin: 0 0 0 0;
	height: 40px;
}

li.operateur {
	list-style: none;
	text-align: center;
	float: left;
	width: 40px;
	height: 40px;
	background-color: #E8F8BB;
	border: 1px solid #DAED9D;
	border-radius: 3px;
	font-size: 200%;
	font-weight: bold;
	color: #404040;
}

li.operateur:hover {
	opacity: 0.8;
}

.sel_operateur {
	position: relative;
	left: 41px;
	width: 42px;
	height: 42px;
	border: 2px solid #57AFE6;
	border-radius: 3px;
	margin-bottom: 20px;
}

#valeur_condition {
	border: 2px solid #57AFE6;
	border-radius: 3px;
	position: relative;
	width: 100px;
	height: 40px;
	top: 130px;
	float: left;
	left: 85px;
}

div.btn_ajout_cond {
	position: relative;
	top: 280px;
	left: 590px;
	background: url("images/round_plus.png") 0 0 no-repeat white;
	background-size: 100% 100%;
	border: 1px solid transparent;
	border-radius: 20px;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

div.fleche_condition {
	position: relative;
	background: url("images/parenthese.png") 0 0 no-repeat transparent;
	background-size: 100% 100%;
	margin: 0 10 0 10;
	float: left;
	width: 40px;
	height: 300px;
}

div.box_action {
	float: left;
	width: 260px;
	height: 300px;
	background-color: #FFFFFF;
    border: 1px solid #DAED9D;
	border-radius: 5px 5px 5px 5px;
}

ul.liste_actionneurs {
	margin: 15px;
	padding: 0;
	height: 130px;
}

.sel_actionneur {
	position: relative;
	top: 0px;
	left: 70px;
	width: 122px;
	height: 62px;
	border: 2px solid #57AFE6;
	border-radius: 3px;
}

.img_action {
	position: relative;
	top: 10px;
	left: 73px;
	width: 77px;
	height: 32px;
	padding: 20 20 0 20;
	background: url("images/ui_set_onoff_02.png") 0 0 no-repeat transparent;
	background-position: -42px -18px;
	border-radius: 25px 25px 25px 25px;
}

#slider a {
	width: 0.6em;
}

#slider {
	opacity: 0.0;
	background: none;
	border: 0px;
	
	-moz-transition: all 0.3s ease-in 0s; 
	-webkit-transition: all 0.3s ease-in 0s; 
	-o-transition: all 0.3s ease-in 0s; 
	-ms-transition: all 0.3s ease-in 0s;
}

#btn_valider {
	position: relative;
	top: 10px;
	left: 190px;
	background-image: -moz-linear-gradient(0% 10px 90deg, #222222, #999999);
	color: white;
	border-radius: 16px;
	height: 30px;
	width: 78px;
	line-height: 1.5;
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 0 10px;
	cursor: pointer;
	font-family: "Droid Sans",Georgia,Serif;
}

#btn_valider:hover {
	background: url("images/background_header_hover.png") repeat-x scroll 0 0 #000000;
}

/*****  Partie Liste Regles  *****/
#liste_regles {
	background-color: #FFFFFF;
    margin-left: 6px;
    margin-top: -50px;
    padding-top: 50px;
    width: 938px;
	height: 90%;
}

li.regle_desc {
	width: 90%;
	margin-left: 5%;
	background-color: #E8F8BB;
	list-style: none;
	margin-bottom: 20px;
	border-radius: 15px 15px 15px 15px;
}

div.top_regle {
	height: 40px;
	line-height: 38px;
	padding-left: 10px;
	background: #003366;
    background: -moz-linear-gradient(to right,#003366, #DEF1FA);
    background: -webkit-gradient(linear,left bottom,right bottom,color-stop(0, #DEF1FA),color-stop(1, #003366));
    background: -webkit-linear-gradient(#003366, #DEF1FA);
    background: -o-linear-gradient(#003366, #DEF1FA);
    background: -ms-linear-gradient(#003366, #DEF1FA);
    background: linear-gradient(#003366, #DEF1FA);
	color: #FFF/*7CA60A*/;
	border-radius: 15px 15px 0px 0px;
}

div.top_regle:hover > img.btn_close_regle {
	opacity: 1.0;
}

img.btn_close_regle {
	float: right;
	width: 32px;
	height: 32px;
	margin: 4px 20px 0 0;
	cursor: pointer;
	opacity: 0.0;
	
	-moz-transition: all 0.3s ease-in 0s; 
	-webkit-transition: all 0.3s ease-in 0s; 
	-o-transition: all 0.3s ease-in 0s; 
	-ms-transition: all 0.3s ease-in 0s;
}
			
ul.liste_conditions {
	float: left;
	position: relative;
	margin-bottom: 10px;
}

li.ligne_regle {
	list-style: none;
	width: 320px;
	height: 50px;
	border: 3px solid #57AFE6;
	border-radius: 30px;
	padding: 5 0 0 20;
	margin: 10px 0 0 25px;
}

.corps_regle .capteur {
	float: left;
	width: 120px;
	height: 40px;
	line-height: 38px;
	overflow: hidden;
	z-index: 100;
}

li.ligne_regle * {
	margin-right: 10px;
}

li.ligne_regle .img_capteur {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: -10px;
}

li.ligne_regle .operateur {
	text-align: center;
	float: left;
	width: 40px;
	height: 40px;
	font-size: 200%;
	font-weight: bold;
	color: #404040;
}

li.ligne_regle .value_condition {
	float: left;
	width: 40px;
	height: 40px;
	line-height: 38px;	
	margin-left: 30px;
}

.corps_regle img.fleche_implique {
	width: 80px;
	height: 50px;
	float: left;
	left: 120px;
	position: relative;
	top: 20;
}

div.pres_action {
	float: left;
	left: 220px;
	position: relative;
	top: 20;
display: inline-block;

}

.pres_action .img_capteur {
	float: left;
	width: 45px;
	height: 45px;
}

#box_capteurs{
	float: left;
	margin-left: 100px;
	width: 300px;
	height: 400px;
	background-color: #FFFFFF;
    border: 1px solid #DAED9D;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

div.box_group {
	float: right;
	margin-right: 100px;
	width: 200px;
	height: 300px;
	background-color: #FFFFFF;
    border: 1px solid #DAED9D;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

div.name_group {
	width: 90%;
	height: 30px;
	line-height: 30px;
	margin-left: 5%;
	color: #7CA60A;
	border-bottom: 1px solid #A9D2E8;
	text-align: center;
}

#btn_creer {
	position: relative;
	top: 252px;
	left: 138px;
	background-color: black;
	color: white;
	border: 1px solid transparent;
	border-radius: 16px;
	height: 30px;
	width: 65px;
	line-height: 1.5;
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 0 10px;
	cursor: pointer;
	font-family: "Droid Sans",Georgia,Serif;
}

#btn_creer:hover {
	background-color: #202020;
}

/* *** Panneau Reponse Regle *** */

#panneau_reponse {
	position: absolute;
	top: 35%;
	left: 40%;
	height: 150px;
	width: 280px;
	background-color: #B5B5B5;
	border: 1px solid #B5B5B5;
	border-radius: 8px;
	z-index: 150;
	display: none;
}

/* *** *** */ 