.capteur {
	width: 200px;
	height: 200px;
	float: left;
	margin: 10 30 10 30;
	background-color: #FFF;
    border: 1px solid #DAED9D;
	border-radius: 5px 5px 5px 5px; 
	color: #404040;
}

.capteur:hover {
	opacity: 0.8;
}

.nom_capteur {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 10;
}

.capteur .img_capteur{
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 5 0 5;
}

div.val_capteur {
	float: left;
    height: 100px;
    line-height: 100px;
    width: 50px;
}