h2 {
	color: #003366;
}

hr {
	color: #A9D2E8;
}

.capteur {
	width: 200px;
	height: 200px;
	float: left;
	margin: 10 30 10 30;
	background-color: #FFF;
    border: 1px solid #DAED9D;
	border-radius: 5px 5px 5px 5px; 
	color: #404040;
}

.capteur:hover {
	opacity: 0.8;
}

.nom_capteur {
	position: relative;
	width: 180px;
	height: 50px;
	left: 10px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 10;
	font-size: 100%;
	border: 0 solid #57AFE6;
	border-bottom-width: 1;

}

.capteur .img_capteur{
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 5 0 5;
}

div.val_capteur {
	float: left;
    height: 100px;
    line-height: 100px;
    width: 50px;
}

#panneau_cp {
	position: absolute;
	top: 35%;
	left: 40%;
	height: 150px;
	width: 280px;
	background-color: #B5B5B5;
	border: 1px solid #B5B5B5;
	border-radius: 8px;
	z-index: 150;
	display: none;
}

