.capteur {
	width: 200px;
	height: 200px;
	float: left;
	margin: 10 30 10 30;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-image: -moz-linear-gradient(100% 100% 135deg, rgba(160, 160, 160, 1.0), rgba(90, 90, 90, 0.9));
	-moz-box-shadow: 10px 10px 5px #444;
	-webkit-box-shadow: 10px 10px 5px #444;
	box-shadow: 10px 10px 5px #444;
	color: #CECECE;
	opacity: 0.9;
}

.capteur:hover {
	opacity: 1.0;
	-moz-box-shadow: 12px 12px 6px #444;
	-webkit-box-shadow: 12px 12px 6px #444;
	box-shadow: 12px 12px 6px #444;
}

.nom_capteur {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 10;
}

.capteur .img_capteur{
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 5 0 5;
}

div.val_capteur {
	float: left;
    height: 100px;
    line-height: 100px;
    width: 50px;
}