body {
	background-color: #F7FFDE;
	font-family: "Droid Sans",Georgia,Serif;
}

#main {
	width: 950px;
	margin: 50 auto;
}

#main_header {
	width: 900px;
	height: 34px;
	text-align: center;
	margin:auto;
	border:1px black solid;
	border-radius: 8px 8px 8px 8px; 
	background: url("background_header.png") repeat-x scroll 0 0 #000000;
	
}

#main_header ul{
	margin: 0;
	padding: 0 0 0 4%;
}

#main_header li{
	position: relative;
	float: left;
	width: 24%;
	height: 34px;
	line-height: 32px;
	list-style-type: none;
	cursor: pointer;
		background: url("background_header.png") repeat-x scroll 0 0 #000000;

}

#main_header li a {
	color: #FFF;
	text-decoration: none;
}

#main_header li:hover{
	background: url("background_header_hover.png") repeat-x scroll 0 0 #000000;
	border-radius: 8px 8px 8px 8px; 
}


#main_header li.current_chap{
}